html,body, #fb_box{
    height: 100%;
    min-height: 100% !important;
}
.fb_container {
    box-sizing: border-box;
    clear: both;
    position: relative;
    background-color: #e9ebee;
}

#wrap {
    position: relative;
    width: 100%;
    clear: both;
    /* display: block; */
    height: 100%;
}

#fb_box {
    min-height: 600px;
}

#fb_bb { 
    display: flex;
    justify-content: space-between;
    height: 43px;
    width: 100%;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff;
    position: fixed;
    z-index: 9999;
}

.bluebar {
    justify-content: space-between;
    height: 28px;
    background-color: #4267b2;
    color: #fff;
    padding-right:205px;
    margin: auto ;
    width: 1012px !important;
    overflow: hidden;
}

.bb_1 {
    display: inline-flex;
    width:85%;
    justify-content: space-between;
    background-color: #4267b2;
    color: #fff;
}

._bb-left {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
}

._bb-left .logo::before {
    content: '\f30e';
    font-family: 'fontello';
}

._bb-left .logo {
    font-size: 1.7rem;
    color: white;
    margin-left: -2px;
    margin-right: 5px;
}

._bb-left .search {
    background-color: #fff;
    border: 1px solid #3b5998;
    border-radius: 3px;
    box-sizing: border-box;
    height: 26px;
    left: -1px;
    margin-top: 0;
    max-width: 448px;
    overflow: hidden;
    padding-right: 48px;
    position: relative;
    width: auto;
    flex: 1 1 auto;
}
._bb-left .ser_144{
    margin-left:0;
    min-width: 144px;
    width:100%;
}
#fb_bb .search .magni{
    background: #f5f6f7;
    /* border: none; */
    border-radius: 0 2px 2px 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0 16px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1;
}
.icon-search{
    background-origin: content-box;
    display: inline-block;
    margin: -1px;
    padding: 1px;
    position: relative;
    right: 0;
    vertical-align: middle;
    color:rgba(0,0,0,0.7);
    font-size: 0.9rem;
    margin-top: 3px;
}
.icon-search::before{
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
._bb-right {
    /* border:2px solid yellow; */
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    margin-left: 8px;
}

._bf3 {
    /* border:2px solid green; */
    display: inline-block;
    position: relative;
}

.minbox {
    /* border:2px solid blue; */
    float: left;
    line-height: 18px;
    background-color: transparent;
    color: inherit;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    height: 27px;
    line-height: 28px;
    padding: 0 10px 1px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

.bb_bl:before {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
}

.bb_bl:before {
    content: '';
    display: block;
    height: 18px;
    left: -1px;
    position: absolute;
    top: 5px;
    width: 1px;
}

._add {
    font-size: 1.2rem;
    color: #1D3C78;
    cursor: pointer;
}

.add_friend:before {
    content: '\e802';
    font-family: fontello;
}

.add_message:before {
    content: '\e800';
    font-family: fontello;
}

.add_notice:before {
    content: '\f0f3';
    font-family: fontello;
}

.add_help:before {
    content: '\e803';
    font-family: fontello;
}

.add_more:before {
    content: '\e804';
    font-family: fontello;
}

.fb_content {
    position: relative;
}

#globalContainer {
    /* border:4px solid red; */
    height: 100%;
    position: relative;
    top: 44px;
    margin: 0 auto;
    width: 1012px !important;
    padding-right: 205px;
}

.cont_wrap {
    position: absolute;
    width: 85%;
    display: inline-block;
    /* border: 2px solid black; */
}

#content {
    min-height: 600px;
    /* border:4px solid purple; */
    clear: both;
    overflow: hidden;
    margin-top: 12px;
}

#content .content_wrap {
    display: flex;
}

._gc3 {
    position: relative;
    clear: both;
}

._lfb {
    /* border:2px solid blue; */
}

._lfbc {
    /* border:2px solid red; */
    height: 16px;
    padding: 6px;
}

.cb_pc {
    clear: both;
    width: auto;
    padding-right: 0;
}

.s_lotit {
    /* display: block; */
    margin-left: 2px;
    max-width: 126px;
    overflow: hidden;
    padding-left: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    /* font-weight: bold; */
}

.lo_news:before {
    content: '\f2bb';
    font-family: fontello;
}

.lo_message:before {
    content: '\e800';
    font-family: fontello;
}

.lo_watch:before {
    content: '\e801';
    font-family: fontello;
}

#user {
    /* border:2px solid brown; */
    margin-bottom: 8px;
}

#cn_wrap {
    /* border:2px solid wheat; */
    clear: both;
}

#cn_wrap>* {
    margin-bottom: 12px;
}

#fb_navbar {
    /* border:4px solid orange; */
    position: relative;
    width: 180px;
    height: 365px;
}

.navbar_wrap {
    /* border:2px solid green; */
    width: 180px;
    margin: 0 auto;
    position: fixed;
}

.navHeader {
    /* border:2px solid blueviolet; */
    font-size: 13px;
    font-weight: bold;
    color: grey;
    margin-top: 10px;
    margin-bottom: 6px;
}

#group-nav {
    clear: both;
    /* border:2px solid seagreen; */
}

#round-nav {
    clear: both;
    /* border:2px solid aqua; */
}

#fb_feed {
    border: 4px solid yellow;
    display: flex;
    width: 488px;
    position: relative;
    margin: 0 12px;
    height: 100%;
    z-index: 400;
}

.feed_card {
    border: 2px solid red;
}

#fb_ad {
    /* border:4px solid  green;   */
    /* width: 308px; */
    clear: both;
    overflow: hidden;
}

.fb_pa {
    clear: both;
    padding: 12px;
    border: 1px solid#CCCCCC;
    border-radius: 3px;
    background-color: #fff;
    width:284px;
}

#ad_wrap {
    clear: both;
}

.fb_pa .ad_title {
    font-weight: bold;
    align-items: flex-start;
    color: #616770;
    display: flex;
    font-size: 13px;
    line-height: 12px;
}

#ad_card {
    /* border: 2px solid red; */
    clear: both;
    margin-top: 12px;
}

#ad_card .a_img {
    /* border: 2px solid orange; */
}
#ad_card .a_img .ad_img{
    height: 140px;
}

#ad_card .a_title {
    /* border: 2px solid yellow; */
    font-size: 13px;
    color: #3b5998;
    font-weight: bold;
    padding-top: 12px;
}

#ad_card .a_link {
    /* border: 2px solid green; */
}
#ad_card .a_link a {
    font-size: 13px;
    color: #3b5998;
}

#ad_card .a_subs {
    /* border: 2px solid blue; */
    color:#616770;
    font-size: 13px;
}
#ad_feed{
    position:block;
    margin-top:10px;
    display: inline-flex;
}


#ad_feed .lang_cho {
    overflow: hidden;
}

.lang_ {
    color: #4267b2;
    font-size: 13px;
}

#secure {
    position: relative;
    clear: both;
}
.more-lang{
    border:1px solid rgba(0, 0, 0, 0.1);
    border-radius:3px;
    width:34px;
    height: 24px;
    display:inline-flex;
    position: absolute;
    right:10%;
    background-color: #e9ebee;
}
.more-lang i {
    font-size: 1.4rem;
    text-align: center;
    margin: auto;
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.7);
}
#fb_chat{
    overflow: hidden;
    display: inline-flex;
}
.visi-chat{
    border-left:1px solid rgba(0,0,0,0.1);
    width: 205px;
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    margin-right: -32px;
}
.ch_zo{
    border:2px solid blue;
    clear: both;
}
.chat_u{
    border:2px solid red;
    height: 32px;
}
.ch_ff{
    border:1px solid rgba(0,0, 0,0.1);
    box-shadow:-1px -1px 1px rgba(0, 0, 0, 0.1);
    height: 32px;
    padding: auto 12px;
    border-radius: 3px;
    position: fixed;
    width: 208px;
    bottom: 0; 
    right:0;
    background-color: #fff;
    z-index: 300;
    display: ;
}
.acc_ff{
    margin: auto;
    display:block;
    height: 16px;
    margin: 8px;
}
.per_count{
    display: inline;
    font-size: 13px;
}
.ff_logo{
    display: inline;
    float: right;
}
.ff_logo .chat_logo{
    padding-left: 3px;
    color: #828282;
}